<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>1C Бот. GreenCool</title>
</head>
<body style = "background-color: #4acbd6">
    <h1 align = "center">Консультат 1С</h1>
<p><strong>Опишить вашу проблему.</strong></p>
    <div><iframe 
        allow="microphone;"
        width="100%"
        height="500"
        src="https://console.dialogflow.com/api-client/demo/embedded/85c26363-a338-4af2-a0be-6ffc7cf2b41d">
    </iframe></div>
    <div style = "margin: 0px;padding: 10px; font-family: Arial;background: #9BDCEB"><a href="mailto:<v.zizda@greencool.beer-co.com">Допомога</a></div>
</body>
</html>
